.main-page-wrapper {
  background: $color-light;
  font-family: $font-text;
  margin-top: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Services */
.services {
  display: flex;
  flex-wrap: wrap;

  a {
    flex-grow: 1;
    width: 300px;
    height: 120px;
    margin: 3px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;

    &:first-child {
      margin-left: 0;
    }

    &:nth-child(2) {
      margin-right: 0;
    }

    img {
      width: 100%;
    }

    .service-tile {
      position: absolute;
      text-align: center;
      width: 100%;
      height: 100%;
      top: 40px;
      left: 0;
      font-weight: 700;
      letter-spacing: -0.65px;
      font-size: 26px;
      color: #FFF;
      transition: $transition;
    }

    .link-desc {
      font-family: $font-header;
      top: 50%;
    }

    .service-desc {
      font-size: 16px;
      opacity: 0;
      transition: $transition;
    }

    &:hover {
      .service-tile{
        top: 15px;
      }

      .service-desc {
        opacity: 1;
      }
    }

  }

  .opening-hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $color-main;
    margin-top: 3px;
    width: 100%;
    border-radius: 4px;
    text-align: center;
    color: #FFF;
    height: 120px;
  }

  h2 {
    font-family: $font-header;
    font-size: 26px;
    letter-spacing: -0.65px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  h3 {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
  }

}

/* Carousel */

.carousel {
  margin: 100px 0;

  .carousel-item{
    padding-bottom: 30px;

    &.active {
      display: flex;
    }

    .opinion {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 40px;
      color: $color-dark;
      font-size: 14px;
      line-height: 23px;
      width: 60%;

      .opinion-title {
        font-weight: 700;
      }

      .opinion-footer {
        font-style: italic;
      }
    }
  }

  li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #cdcdcd;
    margin: 8px;

    &.active {
      background-color: #333333;
    }
  }

  .carousel-item-left {
    display: flex;
  }

  .carousel-item-right {
    display: flex;
  }

  .carousel-indicators {
    transform: translate(0, 100%);
  }

  img {
    width: 195px;
    height: 195px;
    border-radius: 4px;
  }
}

/* Gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .gallery-item {
    height: 195px;
    width: 195px;
    margin: 6px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      border-radius: 4px;
    }

    &::after{
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      position: absolute;
      opacity: 0;
      background-color: #000;
      transition: $transition;
    }

    .icons{
      color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      opacity: 0;
      z-index: 100;
      transition: $transition;

      i {
        margin: 10px;
        transition: $transition;
      }

      i:hover {
        color: $color-main;
      }
    }
  }
}

.gallery-item:hover {
  &::after {
    opacity: 0.5;
  }

  .icons {
    opacity: 1;
  }
}

